// IMPORT CUSTOM MODULES
@import "./mods/fonts";
@import "./mods/icon-list";


// WRITE CUSTOM STYLES
body {
  font-family: Montserrat sans-serif;
  padding: 3rem 1.5rem;
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}
