/* Begin Custom Sass/Scss/css */

// 1) CUSTOMIZE VARIABLES
$body-color: hsl(0, 0%, 20%);

// 2) BOOTSTRAP IMPORTS
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// 3) ICON IMPORTS
@import "icon-list";

// 4) FONT IMPORTS
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
// here is an alternate way of importing fonts
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

// 5) CUSTOM STYLES
body {
  font-family: Montserrat sans-serif;
  padding: 3rem 1.5rem;
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}
